process {

    // Parse each process output -----------------------------------------------
    // For dev only
    //publishDir = [
    //    path: { "${params.outputdir}/processing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //    mode: 'copy',
    //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //]

    //withName: 'NANOQ_QC_MOD' {
    //    publishDir = [
    //        path: "${params.outputdir}/nanoq_qc_results",
    //        mode: 'copy',
    //    ]
    //}

   withName: FLYE {
         publishDir = [
            path: "${params.outputdir}/flye_assemblies",
            mode: 'copy',
        ]
        ext.args = '--read-error 0.03 --genome-size 42m --asm-coverage 50'
   }

}
