process {

    // Parse each process output -----------------------------------------------
    // For dev only
    //publishDir = [
    //    path: { "${params.outputdir}/processing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //    mode: 'copy',
    //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //]

    withName: 'NANOQ_QC_MOD' {
        publishDir = [
            path: "${params.outputdir}/nanoq_qc_results",
            mode: 'copy',
        ]
    }

    withName: 'FALCO_QC_MOD' {
        publishDir = [
            path: "${params.outputdir}/falco_results",
            mode: 'copy',
        ]
    }

    withName: NANOQ_FILTER_MOD {
	publishDir = [
            path: "${params.outputdir}/nanoq_filtered_results",
            mode: 'copy',
        ]
   }
   
   withName: PORECHOP_ABI_MOD {
        publishDir = [
            path: "${params.outputdir}/porechop_abi_trimmed",
            mode: 'copy',
        ]
   }

   withName: FLYE_ASSEMBLE_MOD {
         publishDir = [
            path: "${params.outputdir}/flye_assemblies",
            mode: 'copy',
        ]

   }
 	
}
